body {
  margin: 0;
  padding: 0;

  background-color: #2C2B3D;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  
  min-height: 100vh;
}

.page {
  width: 1083px;
  margin: 0 auto;
  padding-top: 71px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

ul {
  display: flex;
  align-items: center;
  gap: 64px;

  list-style: none;
}

a {
  font-family: 'JetBrains Mono', monospace;
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  gap: 77px;

  margin-top: 101px;
}

h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 36px;
  line-height: 40px;
}

h1 span {
  color: #00BFA6;
}

p {
  color: #7D7987;
  line-height: 28px;
  text-align: center;
}

p strong {
  color: #C2C2C2;
}

p span {
  color: #00BFA6; 
}

footer {
  margin: 157px auto 0;
  width: 568px;
  height: 55px;

  text-align: center;

  border-top: 1px solid #00BFA6;

  padding-top: 27px;
}

.lock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}